# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.env
/.idea/
/cryptography/id_rsa_priv.pem
/cryptography/id_rsa_pub.pem
/mobile/.expo
/mobile/.expo-shared
/mobile/node_modules
